[2020-10-06 15:47] TechnologyClassroom opened #1 "Missing LICENSE"
I see you have no LICENSE file for this project.  The default is copyright.

I would suggest releasing the code under the GPL-3.0-or-later or AGPL-3.0-or-later license so that others are encouraged to contribute changes back to your project.

[2020-10-07 04:28] blmhemu opened #3 "Higher FPS."
I see that currently only 1 frame is changed per 5 seconds. I was wondering the reason behind this choice. Also is it possible to encode it to higher frames per second ?

[2020-10-07 06:11] ThatIsAPseudo opened #4 "Missing README"
This project is definitely missing a Readme file to explain people what it does and how cool it is.
Here are some templates :
- https://github.com/dbader/readme-template
- https://github.com/othneildrew/Best-README-Template
- https://github.com/scottydocs/README-template.md

[2020-10-07 06:30] ThatIsAPseudo commented on #3
I'd say it's to make sure there are enough frames of the same image (at 30 fps, if "only 1 frame is changed per 5 seconds" that makes 6 times the same image), so that the middle one (the 3rd/4th) is the closest to the original one. (Or the average of the 6 frames is closer to the original)

I guess if you make a 60 fps video, video encoding + youtube compression can make a white pixel temporally s

[2020-10-07 06:34] ThatIsAPseudo opened #5 "Add requirements.txt"
There should be a `requirements.txt` file as well as a "Dependendies" section in the Readme (#4) to make usage easier (rather than guessing from the code which packages/libraries to install).

[2020-10-07 09:56] YakirOren commented on #4
Hey! I would like to write the readme.

[2020-10-07 10:27] KasperSvendsenGit opened #6 "SyntaxError: invalid syntax"
Hi,
I'm getting a syntax error when trying execute. Doesn't seem to be related to file formats... Can you help.

 python fvid.py -i test.mp4 -e
  File "fvid.py", line 90
    f"{FRAMES_DIR}decoded_frames%03d.png"
                                        ^
SyntaxError: invalid syntax

 python fvid.py -i image.jpeg -e
  File "fvid.py", line 90
    f"{FRAMES_DIR}decoded_frames%03d.png"

[2020-10-07 10:30] misaalanshori commented on #3
What if the size of the bits is bigger (eg 2x2 instead of 1 pixel), but we increase the framerate? I feel like if balanced just right that could really increase the amount of data stored per video length

[2020-10-07 10:31] YakirOren commented on #6
check the version of python

[2020-10-07 10:35] YakirOren opened #7 "The system cannot find the file specified"
I'm trying to run fvid and after installing all the modules im getting this error.

[code]

[2020-10-07 10:41] KasperSvendsenGit commented on #6
I'm running Python 2.7.18, tried running it with Python3 as well, but get different errors with that.
Thanks!

[2020-10-07 10:44] YakirOren commented on #6
im trying to figure out the other errors too :/
 #7

[2020-10-07 11:08] ThatIsAPseudo opened #8 "[Bug] Output file on decoding is always "file.bin""
Whenever I run this script to decode a video it generated, the output file is `file.bin`. I tried renaming the extension to match the original file I encoded but it didn't work. Morevover, this `file.bin` is lighter than the original file.

[2020-10-07 13:38] dtaivpp commented on #5
Small note on this we will probably need an installation section in the readme. In particular MacOS doesn't come with libmagic and I needed to install it via brew. Not sure if this issue happens on other OS'.

[2020-10-07 13:42] dtaivpp commented on #6
Hey all post your other errors here. I got this working on macos python 3. One of the issues I ran into is you need to install libmagic. If you have homebrew you can do `brew install libmagic`

Also @KasperSvendsenGit your issue with python 2 is it doesn't have support for 'f' strings so it will need to be run with Python3

[2020-10-07 13:45] dtaivpp commented on #7
It may be because of where your python is running. Try typing the fully qualified path for the input file, eg 'C:\Users\Yakir Oren\Desktop\fvid\image.png'

Python is funny with what it thinks is its root directory.

[2020-10-07 13:47] dtaivpp commented on #8
I've noticed this as well. The file.bin is def a bug. Also, I believe the file is smaller as it looses some encoding information as well as metadata.

[2020-10-07 14:45] AlfredoSequeida commented on #4
@YakirOren Thank you, but it was done this mornig.

[2020-10-07 14:45] #4 closed

[2020-10-07 14:45] AlfredoSequeida commented on #1
Done

[2020-10-07 14:45] #1 closed

[2020-10-07 14:46] AlfredoSequeida commented on #5
Fixed with PyPi implementation.

[2020-10-07 14:46] #5 closed

[2020-10-07 14:47] AlfredoSequeida commented on #7
@YakirOren Yeah, try adding the full file path like @dtaivpp suggested and get back to us.

[2020-10-07 14:53] AlfredoSequeida commented on #3
@blmhemu Good question, the reason behind that was simply to reduce the file size. As you might have noticed, smaller files like a text file or image get a lot bigger after making them into videos - just by the nature of it being a video and containing more data.

So the point behind that was to keep file sizes as small as possible. I could definetly add a feture to allow for cutom fps though. Kee

[2020-10-07 15:03] AlfredoSequeida commented on #6
@KasperSvendsenGit The first thing that comes to mind is what @dtaivpp said. fstrings were implemented with python 3.6. So if you tried python 3 then I would make sure that you have 3.6 or newer.

[2020-10-07 15:34] AlfredoSequeida commented on #8
@ThatIsAPseudo So I have actually seen this as well. The reason this happens has to do with magic or mimetypes. Basically,  either minetypes or magic is having trouble identifying the file and therefore the file extension is incorrect. Link me to the file and I can do some testing.

The interesting thing with this project is that unless we have a reference file we can't know what is going on since

[2020-10-07 16:12] KasperSvendsenGit commented on #6
Alright now running on Python 3.8.6, it doesn't strictly error out anymore, though I don't get an output file. @dtaivpp Installing libmagic doesn't seem to have changed anything on linux.

![image](https://user-images.githubusercontent.com/52733424/95357351-0f69b780-08c8-11eb-884c-8cfec082c9a9.png)

[2020-10-07 18:08] ThatIsAPseudo commented on #8
Well I tested with a bunch of files and several filetypes (zip, 7z, jpg, csv, pdf), none of them worked so I assume it isn't the issue.

However I agree with the fact that we should have a common test file. We can use classic standard test images, such as [Lenna](https://en.wikipedia.org/wiki/Lenna) :

**Type** : png
**MD5** : 814a0034f5549e957ee61360d87457e5
**SHA1** : 3ee0d360dc12003c0d43e357929

[2020-10-07 18:39] YakirOren commented on #7
Hey the problem was on my part, I forgot to install the actual [ffmpeg ](https://ffmpeg.org/download.html)and not just the python lib. 😋

[2020-10-07 22:03] YiffyC opened #13 "Fvid command not recognized"
Dear dev,

the fvid command is not recognized after installing via pip3
`command not found: fvid`

Any advice?
Thank you

[2020-10-07 22:09] Theelgirl commented on #13
Have you tried putting ``python3 -m`` or ``py -m`` before the rest of the command? Windows requires ``py -m`` before it according to the PyPi page, and ``python3 -m`` might help on linux systems (it helps on my Ubuntu 20.04 VPS sometimes).

Check usage notes at https://pypi.org/project/fvid/

[2020-10-07 23:07] AlfredoSequeida commented on #13
@YiffyC I agree with @Theelgirl if you're on a Linux system and that does not work check if you get any errors after installing, maybe you're not installing to PATH.

[2020-10-08 00:45] AlfredoSequeida commented on #8
@ThatIsAPseudo I tried the Lenna picture and it worked fine for me and the md5sums match. I got a **file.png** when I decoded the video. One thing to note - later today or tommorow I will be adding a check that asks to replace files. As of now, if you have another **file.mp4** in the same directory you are runing fvid from, fvid will not run becuase the ffmpeg output is being hidden (and ffped wil

[2020-10-08 08:56] #7 closed

[2020-10-08 12:07] AlfredoSequeida commented on #8
@ThatIsAPseudo Actually upon further inspection, this morning I woke up to work on this bug and realized that yesterday the reason it didn't work for me was that I was actually trying to decode the original image file instead of the video lol. This morning it worked fine.

[alfredo@DARTHNET test]$ ls
'Lenna_(test_image).png'  'Lenna_(test_image).png-d1t-9Pp741k.mp4'
[alfredo@DARTHNET test]$ fvid -

[2020-10-08 12:17] AlfredoSequeida commented on #6
@KasperSvendsenGit I'm glad you got that working. If you're using the latest version from this repo, the project structure has changed so running it like that won't work without some modifications since the entry point has changed.

The easy fix would be to install it using pip3

`pip3 install fvid`

then you can just run it like:

`fvid -i [input file] -e `

to encode from any directory in your c

[2020-10-08 13:16] ThatIsAPseudo commented on #8
That is not my problem, I keep getting `file.bin` when I try to use fvid :

[code]

[2020-10-08 13:38] KasperSvendsenGit commented on #6
@AlfredoSequeida  I've resolved the problem by running "sudo pip3 install fvid"

Thanks!

[2020-10-08 13:38] #6 closed

[2020-10-08 13:39] KasperSvendsenGit commented on #8
I'm having this issue as well.

[2020-10-08 13:39] AlfredoSequeida commented on #8
@ThatIsAPseudo Interesting, did you cut the output short? I see that **Getting bits from frame** stops at 83%. When I encoded the Lenna image I had a total of 2 frames so if you see my output I have two loadin bars. The first one finishes (meaing one whole frame was proceesd) and second one stops at 82% (because if you look at my YT upload, the second frame does not cover the full width of the 192

[2020-10-08 13:44] AlfredoSequeida commented on #8
@KasperSvendsenGit Maybe try the same thing I just suggested to see if anything changes for you. On my end its working fine. @ThatIsAPseudo Something else that I can think might be the issue is mabye one of the depencies is not working. Either ffmpeg or libmagic.

Thank you guys for pointng out these issues, it's really healpul and interesting to see how other people are experiencing different thi

[2020-10-08 13:50] AlfredoSequeida commented on #3
@Theelgirl fixed/enhanced this with #12

[2020-10-08 13:50] #3 closed

[2020-10-08 14:02] ThatIsAPseudo commented on #8
No I did not, but I noticed the difference of loading bar length as well.

I just tried with the video you uploaded on PyPi version of fvid, and it did not work either. (I also still have a single 83% loading bar instead of 2 like you)

I'll try again with the git repo version to see if that works better.

[2020-10-09 04:57] AlfredoSequeida commented on #8
@ThatIsAPseudo What operating system are you using it on? I was just able to replicate your results using a 2019 MacBook Pro running macOS Mojave. In this case I think the issue was numpy because I was having trouble installing it and followed some instructions on GitHub for a different repo where they had the same runtime error I was getting when trying to use numpy.

[2020-10-09 05:50] ThatIsAPseudo commented on #8
I'm using macOS Big Sur Beta 9. I did not noticed any issue regarding numpy though, but I may be able to run some tests if this helps you narrow down the exact cause of the problem

[2020-10-09 13:16] dtaivpp commented on #8
@ThatIsAPseudo can you put the output of `python -m pip list` in a comment so we can see what versions of the libraries you are running? Here is the output of mine for this project:

[code]

[2020-10-09 13:17] dtaivpp commented on #8
Also, just for kicks `python --version`

[2020-10-09 14:17] ThatIsAPseudo commented on #8
[code]

[2020-10-09 16:00] dtaivpp commented on #8
All looks normal to me. How about the output of:
`ffmpeg -version`
and
`ls /usr/local/Cellar/libmagic`

[2020-10-09 17:09] ThatIsAPseudo commented on #8
[code]

[code]

[2020-10-09 19:22] dtaivpp commented on #8
@ThatIsAPseudo wow I was expecting to find something you had missed but looks like we are in the same boat. I hadn't tried with the most recent build yet but it seems the framerate functionality is causing issues.

@AlfredoSequeida Here is what I am seeing. With the 0.0.2 version running fvid with the following flags: `-i test/Lana.png -e` I am getting an output video that is 10 seconds long and a

[2020-10-09 19:41] dtaivpp commented on #8
@AlfredoSequeida I think its the framerate tag. It seems the framerate flag is only supposed to be used with whole number integers per their documentation here:
https://ffmpeg.org/ffmpeg.html#toc-X11-grabbing

The `-enc_time_base` seems to be the only one that accepts the 1/framerate argument.

What the difference is I am not certain but I believe that is the issue.

[2020-10-09 20:02] ThatIsAPseudo commented on #8
@dtaivpp Well I will make tests again, but I did try to manually change the framerate to 1, 5, 30, 60 directly in the script (all whole numbers), and it did not work either...
But I may be mistaking so I'll test it again and tell you what I get.

[2020-10-09 20:44] AlfredoSequeida commented on #8
I decided to sleep in today, but I'm glad you guys are so active on the topic. As of now, I have only been able to replicate the issue on macOS, and I believe @dtaivpp is also running it on macOS, so I think it must be some specific difference with regards to that, today I will put some time to look over the code and try to find out what is really going on.

[2020-10-09 20:45] AlfredoSequeida commented on #13
Closed due to not hearing back from OP, if you have any other questions let us know.

[2020-10-09 20:45] AlfredoSequeida commented on #13
Closed due to not hearing back from OP, if you have any other questions let us know.

[2020-10-09 20:45] #13 closed

[2020-10-09 20:46] dtaivpp commented on #8
@AlfredoSequeida go to bed. Ill see if I can find anything in the meantime

[2020-10-09 21:18] YiffyC commented on #13
Dear Alfredo, I did add the folder on the path but still get the same error

[2020-10-09 21:31] Theelgirl opened #16 "Proposal: Cython Support"
I believe the possible optimizations (without a refactoring allowing for processing multiple pixels at a time) for the lengthy decode process are severely diminished now, and it's only twice the speed that it originally was. So, I am proposing that I make an optional Cython extension. Cython is a superset of Python that compiles to C, which compiles to machine code. If you want to take a look at w

[2020-10-10 00:24] Theelgirl commented on #16
Update:
I did the work because I have extra time, and I made a Cython version that decodes about 5-6x as fast as the current Python.

[2020-10-10 01:49] AlfredoSequeida commented on #16
@Theelgirl Absolutely! Make the PR and I will take a look at it!

[2020-10-10 01:51] Theelgirl commented on #16
Ok, making now.

[2020-10-10 02:03] Theelgirl commented on #16
It benchmarks at about 4x faster on the Lenna image than Python, however it fails to decode the resulting mp4 with either version, producing an unusable file.bin
Is this a known bug?

[2020-10-10 02:21] Theelgirl commented on #8
I can replicate on Windows and Ubuntu 20.04. I can say with 95% certainty that the issue is with mimetypes. Put these lines in your save_bits_to_file function and you'll see what I mean:
[code]

[2020-10-10 02:45] dtaivpp commented on #8
@Theelgirl I do think the file.bin issue is with mimetypes. I think we may need to break these out into two issues though. Macos right now cannot encode files that require more than one frame. If it takes on frame it works fine but anything past that fails. For example right now the output of Lana for me is a 10 second video with all black frames.

[2020-10-10 02:51] Theelgirl commented on #8
@dtaivpp I think I may have monkey-patched us a temporary fix for file.bin assuming users don't get curious and change file extensions, and can always see the file names themselves. I made it so that the mp4s generated are in the format ``file.png.mp4`` or ``file.jpg.mp4`` (depending on the original extension of the image) instead of ``file.mp4``. This allows the script to parse the file when the

[2020-10-10 02:56] dtaivpp commented on #8
@Theelgirl that makes sense to me. Put in a PR for that jazz and hopefully Alfredo can merge it tomorrow.

I have a few leads on why it may not be working for Macos users as well. Seems ffmpeg on mac is both opinionated on the positioning of arguments and makes several assumptions unlike its unix and windows counterparts. Testing some different configs now.

[2020-10-10 03:01] Theelgirl commented on #8
Ok, got it, I'll submit a PR now. I got a simple file guesser working for Ubuntu for in case the user decides to strip out the extra file extensions, hopefully it works in Windows and MacOS also.

[2020-10-10 18:52] Theelgirl opened #20 "PR Compatibility"
@dtaivpp @dobrosketchkun
Currently, we together have 4 different PRs open. Do you guys/gals think we should combine them into one PR to make it easier and faster for Alfredo to review? Plus, if we all have different versions of the code, there will be redundancies and missing pieces when it's all merged.

(Also, dobro, I'm actually still having an issue with your cryptography stuff, so if other pe

[2020-10-10 19:03] dobrosketchkun commented on #20
Well, I don't really know how pull requests work in detail, so if you tell me how we can certainly do this.
About crypto stuff - yeah, I don't really know what the matter; I have checked it on two machines (Win and Arch) and on multiple files of various sizes with and without passwords.

[2020-10-10 19:41] Theelgirl commented on #20
Ok, well in that case can you explain how each function works so I can try to understand what I'm doing wrong?

[2020-10-10 21:28] dobrosketchkun commented on #20
first of all, cryptography modules:

pip install cryptography
pip install pycryptodome

Let us check the encoding procedure first:
[code]

As the "--password" flag is not used, the program will utilize the default one (variable DEFAULT_KEY). If the flag is used new key will be generated from the provided password (either from the command line or from getpass function) with PBKDF2HMAC function, wit

[2020-10-10 22:27] Theelgirl commented on #20
Thanks for explaining that! I just found that the problem was that I was directing my get_bits_from_image through my Cython module, and I hadn't taken out the delimiter thing for that. It works now, but it takes a huge amount of time because for Lenna's mp4, it has 300 frames for some reason and the mp4 itself is over 8MB. Is it like that for you?

[2020-10-10 22:36] dobrosketchkun commented on #20
Nope, in my case, Lenna.mp4 is 1829 Kb with 2 frames

[code]

[2020-10-10 22:36] Theelgirl commented on #20
That's really weird. Can you send the mp4?

[2020-10-10 22:44] dobrosketchkun commented on #20
Here zipped mp4 and frames:
[Lenna.zip](https://github.com/AlfredoSequeida/fvid/files/5360364/Lenna.zip)

commands:
[code]

[2020-10-11 00:20] Theelgirl commented on #20
Hm ok, when I decode that on Ubuntu, I get this:
[code]

[2020-10-11 00:38] Theelgirl commented on #20
If you can add a mode that gives the option to skip Gzip (de)compression, that could bypass the issue.

[2020-10-11 01:33] Theelgirl commented on #20
Update: When I encode Lenna at 30fps instead of the default 1/5, gzip still tells me it's not a gzipped file, but the diagnostics show that the resulting mp4 has the same contents as your Lenna.mp4 (except that this one is 5523KB instead of yours, which is like 1829KB). That strikes me as interesting.

[2020-10-11 08:15] dobrosketchkun commented on #20
I'm certainly cannot, because it bring upon us a noncompatibillity issue.

Try this modification just without gzip. I added sys.exit(main()) to the end, so you can use just this code without `__main__.py` etc

[code]

[2020-10-11 10:22] dobrosketchkun commented on #20
@Theelgirl No, scratch that, I think I've found something. Try this video with this code.

[another_Lenna.zip](https://github.com/AlfredoSequeida/fvid/files/5360909/another_Lenna.zip)

[2020-10-11 14:32] Theelgirl commented on #20
Running the unzipped fvid code with the unzipped mp4 doesn't change anything for gzip.
[code]

[2020-10-11 14:47] dobrosketchkun commented on #20
Well, they are working alright in another two machines, so there is a possibility.

I've made a bunch of modifications, including the general logic of image processing (it helped with files over 200 mb). Could you please try this script variant?

[fvid_11.zip](https://github.com/AlfredoSequeida/fvid/files/5361275/fvid_11.zip)

[2020-10-11 16:43] Theelgirl commented on #20
I am now able to successfully decode the Lenna.mp4 you sent me, however it is unable to decode the Lenna.png that it encoded itself, giving the same gzip error.

[2020-10-11 16:54] Theelgirl commented on #20
@dobrosketchkun I'm going to update my Cython Support PR with the new Cython code, then can you add all of that to your PR (it modifies the setup.py also)? Then, I can close both of my PRs and @AlfredoSequeida can merge yours, which will fix all the problems mentioned in the current 4 PRs.

[2020-10-11 17:16] dobrosketchkun commented on #20
Nice!

Yeah, seems logic, I'll try.

[2020-10-11 17:27] dobrosketchkun commented on #20
I cloned your patch-2 branch and tried to fvid a Lenna.png:

[code]

I'm sorry, I've never used Cython, what is the problem? I have the Cython module. Maybe I need to install fvid, and thus I cannot use it as just a script?

[2020-10-11 17:34] Theelgirl commented on #20
Oh it didn't properly compile. Try adding ModuleNotFoundError to the except for now

[2020-10-11 17:42] zavok commented on #20
[code]
...is what I get.

[2020-10-11 17:56] Theelgirl commented on #20
Are you on windows? It works fine for me on Ubuntu 20.04. Maybe you need to cimport cython at the top.

[2020-10-11 17:58] dobrosketchkun commented on #20
I am on Windows 10, python 3.7.4

[2020-10-11 17:59] Theelgirl commented on #20
Yeah, I was talking to zavok, but does it fail for you too?

[2020-10-11 18:11] dobrosketchkun commented on #20
You see, I don't really want to install it as a module. Is it really necessary?

[2020-10-11 18:15] zavok commented on #20
I use Arch.

[code]
After this diff (notice how second argument to Extension() had to be converted into list, or python would complain) it built fvid_cython.cpython-38-x86_64-linux-gnu.so file.
Do I now just run python fvid/__main__.py as usual or there are some other body movements necessary?

[2020-10-11 18:28] Theelgirl commented on #20
@dobrosketchkun If you add an exception for ModuleNotFoundError to the import, then you can let it not use Cython, however it's 4x faster at decoding when you do use it.

[2020-10-11 18:29] Theelgirl commented on #20
@zavok If it successfully compiled, you can run fvid/__main__.py as usual.

[2020-10-11 18:32] zavok commented on #20
Okay, the .so file had to be moved to fvid/ folder, but otherwise looks like it worked.

[2020-10-11 18:39] Theelgirl commented on #20
Oh yeah, you need to add an include_dirs argument if you want to use it outside of the folder it was compiled in.

[2020-10-11 21:49] AlfredoSequeida commented on #20
Sorry for the wait guys, I have had a busy past 2 days. I will definitely try my best to go through all of this as soon as I can.

[2020-10-11 21:57] AlfredoSequeida commented on #8
I just want to let you guys know that I definitely see your work and it does not go unappreciated - I have just had a busy couple of days with school stuff, but as soon as I have some time I will go through all of this. Thank you!

[2020-10-11 21:59] dobrosketchkun commented on #20
Yeah, in a day or two I'll try to combine Theelgirl's Cython approach and my thingy and give you folks a report.

[2020-10-12 20:31] Theelgirl commented on #20
@dobrosketchkun I can combine them if you want, I understand how the Cython works and you've done a great job of explaining your approach so I think I understand it

[2020-10-12 21:45] dobrosketchkun commented on #20
@Theelgirl first, please try this modification https://github.com/AlfredoSequeida/fvid/pull/15#issuecomment-707303590

[2020-10-12 22:42] AlfredoSequeida commented on #16
@Theelgirl So to clarify, did decoding work?

[2020-10-13 00:29] Theelgirl commented on #16
@AlfredoSequeida Yes, using dobro's version fixed it. The problem wasn't with Cython, as it happened on the normal version also, it was with something else.

[2020-10-13 00:29] Theelgirl commented on #20
@dobrosketchkun Tried it, it works but it's actually slower and uses far more disk than before, left some feedback on why that is in comments there.

[2020-10-14 20:21] dobrosketchkun opened #22 "GUI"
Okay, folks, I manage to make a very rudimentary GUI for this https://github.com/AlfredoSequeida/fvid/pull/21 version of fvid

![](https://i.imgur.com/onobbdr.png)

[code]

[2020-10-14 20:27] Theelgirl commented on #22
For the while True loop, I'd suggest adding a time.sleep(0.1) at the bottom, or some other blocking call, so it doesn't run over and over and use 100% CPU while it's at it. Does window.Read() block until something happens to the screen?

[2020-10-14 20:40] dobrosketchkun commented on #22
I don't have any issues:

![](https://i.imgur.com/EqWB1yf.png)

[2020-10-14 23:32] Theelgirl commented on #22
@dobrosketchkun Ok, then I guess window.Read is blocking. Can you add an option for framerate to the GUI?

[2020-10-14 23:34] Theelgirl commented on #16
Closing because the PR has been ready for a while.

[2020-10-14 23:34] #16 closed

[2020-10-14 23:34] Theelgirl commented on #20
Closing because the password/cython PRs have been merged together into #21

[2020-10-14 23:34] #20 closed

[2020-10-15 07:50] dobrosketchkun commented on #22
Yeah, right, I forgot about it since I never use it.

[code]

[2020-10-15 19:58] Theelgirl commented on #22
Looks good to me! Thoughts @AlfredoSequeida?

[2020-10-17 09:02] turtleship69 opened #23 "After running command, nothing is returned, and it proceeds to a new line"
After running the command, it just goes to a new line. My code setup is the folder "fvid" extracted into downloads and the file I want to test for now is in the same folder.
[code]
No new files are created.

[2020-10-17 15:36] Theelgirl commented on #23
@turtleship69 That's happened to me a few times with the current version (0.0.2). There's a PR waiting for approval that will fix that once @AlfredoSequeida has had time to review it.

[2020-10-17 18:14] turtleship69 commented on #23
Does it ever not?

[2020-10-17 18:34] Theelgirl commented on #23
It rarely did for me when I was using 0.0.2, but I wasn't doing it on windows so idk. Try git cloning my PR, then pip installing the resulting directory, and then it should work.

[2020-10-25 00:50] AlfredoSequeida commented on #22
@dobrosketchkun At a quick glance that looks awesome! I am curious if you guys think this should be added to a new repo for people interested that are not interested in a GUI. I am personally primarily a Linux user and don't use GUI's very often with the exception of browsers (or places where I really need to). Maybe we can add something to the setup file to let a user select the option of having

[2020-10-25 01:11] Theelgirl commented on #22
As far as I can tell, the user would have to select whether they want the GUI after the entire package has already been downloaded, because I don't think ``pip install`` allows a package to accept custom args (like ``--no-gui``). It could be best to place this GUI code within its own file that's only called if a user runs something like ``fvid gui.py`` from the command line/prompt and just leave i

[2020-10-25 09:41] dobrosketchkun commented on #22
Yeah, I thought about approach like @Theelgirl just mentioned. For instance, if you want a GUI, you just use `py -m fvid` without any args and if you don't, just use CLI as intented.

[2020-10-25 23:09] Theelgirl commented on #8
@ThatIsAPseudo This should be fixed with the most recent version, which rewrote parts of the mechanisms by which files were decoded. I merged it on github, so now we just need @AlfredoSequeida to release it to PyPi, then you can simply update with ``pip install -U fvid`` and let us know if it actually is fixed. For now though, you can install it off github with ``pip install git+https://github.com

[2020-10-25 23:11] Theelgirl commented on #22
@dobrosketchkun If you have time, you can make a PR with that ``py -m fvid`` GUI approach you mentioned, and I think Alfredo and/or I would be happy to test it

[2020-10-25 23:12] Theelgirl commented on #23
@turtleship69 Can you try updating fvid by running ``pip install git+https://github.com/AlfredoSequeida/fvid.git#egg=fvid`` then trying to run the command again?

[2020-10-26 13:07] dobrosketchkun opened #25 "Youtube"
Okay, we need to address the elephant in the room - the intended use of the fvid module - you encode some file and put a video on youtube. In theory, it's okay, but.

If you are to upload a video on youtube it'll change the framerate to 60. So, say, you download the video by using, let say, _youtube-dl_ and try to decode it - if you've used another framerate, you get a different number of images a

[2020-10-26 15:37] Theelgirl commented on #25
As background, the fps of 1/5 was chosen to definitively prevent YouTube's compression from corrupting the data. It has been shown by trial and error that a fps of 1/5 works, but a fps of 1 hasn't been thoroughly tested.

But anyway, yes, the intended use of fvid is for storing stuff in YouTube. However, there are other video sharing websites out there that might use a different framerate. I sugge

[2020-10-26 15:49] dobrosketchkun commented on #25
Yeah, you are forgetting that you need the video file to be in the framerate it was encoded in order to properly decode it.
So you need to know if some website keeps the framerate or it changes it to 30 or 60 or 120, etc, rendering usage of this module very difficult.
And even if do as you said, weneed to implement this behavior:
`ffmpeg -i from_youtube.mp4 -filter:v fps=fps=some_frame_rate_we_wil

[2020-10-26 16:35] Theelgirl commented on #25
Don't we already set ffmpeg to use the ``-r <framerate>`` flag, rendering an fps flag useless? Isn't -r a shortcut for fps?

Plus, I was suggesting we offload the responsibility/right of determining the required framerate to the user. We could compile a list of recommended framerates for common sites like youtube, flipgrid, vimeo, etc, but my opinion is that the user should be given as much choice

[2020-10-26 18:11] dobrosketchkun commented on #25
Yes, we did, in initial encoding, but I'm talking about decoding. I'm saying if one used a default framerate and upload it on youtube, in order to decode the video resiever need to externally use ffmpeg with whatever flag to change framerate to original and only then use the fvid module again to decode. It is way too complicated and cumbersome for a big chunk of users  - this functional should be

[2020-10-26 18:28] Theelgirl commented on #25
Ok, so would you find it acceptable to set the default decoding framerate to 60, or 1, or 1/5, or whatever, so it works out-of-the-box for users, but let an advanced user specify the decoding framerate flag with ``-f` <framerate>``?

[2020-10-26 18:35] dobrosketchkun commented on #25
Yeah, of course, this is the best solution (meaning we need yo add framerate changing to the default number into our video-decoding part)
PS I vote for framerate 1; it's a good compromise between working with every file and possibly on every videohosting, and video filesize reduction.

[2020-10-27 10:15] dobrosketchkun commented on #22
Yeah, I will sooner or later.

Little upgrade about https://github.com/AlfredoSequeida/fvid/pull/26

![](https://i.imgur.com/NXuvXIu.png)

[code]

[2020-10-27 11:50] dobrosketchkun commented on #22
Another addition - use of youtube-dl if it's in your system:

![](https://i.imgur.com/b0dYLM0.png)

[code]

[2020-10-27 15:18] minhngoc25a opened #27 "cannot import name 'main' from 'fvid'"
I had ffmpeg in PATH and fvid still doesn't work somehow...

[code]

[2020-10-28 10:29] dobrosketchkun commented on #27
I think it's related to https://github.com/AlfredoSequeida/fvid/pull/21#issuecomment-707766115 comment and bellow.
Do you have some kind of Windows, I assume? What version do you have exactly?

@Theelgirl halp

[2020-10-28 13:47] Theelgirl commented on #27
@minhngoc25a @dobrosketchkun It's definitely windows, however I think they need to update fvid. They're using the PyPi version of fvid (0.0.2) where ``from fvid import main`` is on line 2, but on the Github, it's on line 23. @AlfredoSequeida needs to release this to PyPi.

[2020-10-28 13:47] Theelgirl commented on #27
@minhngoc25a Try running ``py -m pip install git+https://github.com/AlfredoSequeida/fvid.git#egg=fvid`` and tell us if the error keeps happening.

[2020-10-28 13:51] dobrosketchkun commented on #27
I think it'll be better if we first address https://github.com/AlfredoSequeida/fvid/pull/26 and only then update the PyPi version

[2020-10-28 13:52] Theelgirl commented on #27
Merged. Is that a feature addition or a patch? 1.0.1 or 1.1.0?

[2020-10-28 13:53] Theelgirl commented on #22
Looks good! Would you like to submit that for a PR? If so, make sure to either put it in its own file, or make it run only if fvid is run without args.

[2020-10-28 13:56] dobrosketchkun commented on #27
I think we can classify it as a patch since YouTube is part of the initial idea and functionality. I don't know what to say about the version number; it seems quite arbitrary to me; if there is any convention about it, please use it.

[2020-10-28 13:57] dobrosketchkun commented on #22
I will soon, yeah.

[2020-10-28 14:01] Theelgirl commented on #27
The version number is described by [SemVer 2](https://semver.org/).

[2020-10-28 14:07] dobrosketchkun commented on #27
Then 1.0.1 it is.

[2020-10-28 15:42] minhngoc25a commented on #27
I uninstalled fvid and then used `py -m pip install git+https://github.com/AlfredoSequeida/fvid.git#egg=fvid" as you said. Installation still fails as follow:
[code]

[2020-10-28 16:35] Theelgirl commented on #27
@minhngoc25a Can you try now?

[2020-10-28 16:42] minhngoc25a commented on #27
Yikes...
https://paste.ubuntu.com/p/mRZvKJxnmV/

[2020-10-28 16:43] Theelgirl commented on #27
Yeah try now.

[2020-10-28 16:49] minhngoc25a commented on #27
I still use the same command.

[code]

[2020-10-28 16:50] Theelgirl commented on #27
Ok, can you try once more? I added an except to the part that builds that in order to try and prevent it.

[2020-10-28 16:53] minhngoc25a commented on #27
Looks like we're getting somewhere. Less error is shown.
[code]

[2020-10-28 16:53] Theelgirl commented on #27
Yeah, I typoed, try it again.

[2020-10-28 16:54] minhngoc25a commented on #27
Errors never ends, I guess...
[code]

[2020-10-28 16:59] Theelgirl commented on #27
Ok, I guess you'll need to download it for now, I'll start looking for ways to fix that when I have more time later.

[2020-10-28 17:00] minhngoc25a commented on #27
I can't believe that C++ build tools are nearly 5GB...

[2020-10-28 17:01] minhngoc25a commented on #27
Maybe I'll switch to WSL

[2020-10-28 17:08] Theelgirl commented on #27
Maybe. I just did a last-ditch blanket exception on the setup script, so if this doesn't work, it most likely won't work until we can get someone who's good and experienced with Cython _and_ PyPi.

[2020-10-28 17:11] minhngoc25a commented on #27
And right after I install WSL, tried the command in Powershell, it worked. Thanks for your enthusiasm anyway.

[2020-10-28 17:15] Theelgirl commented on #27
Ah. Sorry that I couldn't fix it in time :(

[2020-10-28 17:15] #27 closed

[2020-10-29 10:42] #25 closed

[2020-11-17 10:03] ThatIsAPseudo commented on #8
I just tried (sorry for the delay), I wipped my install then reinstalled everything and it works perfectly !

[2020-11-17 10:03] #8 closed

[2020-12-20 01:29] dylanpdx opened #30 "Converting large files is not feasible due to high memory usage"
This tool works great for small files, but trying to convert a relatively large file (1GB) will cause a MemoryError, even with 32 GB of RAM

[2020-12-21 23:19] Halt-Arrtay opened #31 "Syntax error in line 121 in the fvid.py code"
In the fvid.py code there is a Syntax Error in line 121,
for filename in sorted(glob.glob(f"{FRAMES_DIR}decoded_frames*.png"), key=os.path.getmtime) :
                                                                                                                  ^
SyntaxError: invalid syntax

I don't know how to fix this, can you please advise?

[2021-01-16 02:29] Theelgirl commented on #31
Sorry for the late response, can you clone it from the Github and tell me if it works?

[2021-01-16 02:32] Theelgirl commented on #30
Indeed. There's a bit of a tradeoff between memory and speed, and we've mostly gone the speed route since it was envisioned that people wouldn't try to encode a file above a few tens of megabytes. If there's an interest in adding modes for memory or speed, I'd be happy to work on that. For now though, can you run a memory profiler (scalene or memprof work well) to tell us where the code uses most

[2021-01-16 02:37] Theelgirl opened #32 "New version release"
@AlfredoSequeida There have been a lot of changes since the last release (nearly all within 3 weeks of 0.02), and I was wondering if you could publish a new release to PyPi? It would have to be 1.0.0, as this new release would have passwords, and therefore break backwards compatibility.

[2021-01-16 03:03] AlfredoSequeida commented on #32
Definitely, I'll do it by the end of today. Thank you for letting me know.

[2021-01-16 03:05] Theelgirl commented on #32
Thanks! It might help to build wheels for Mac/windows/Linux also because of the C extensions.

[2021-01-16 03:44] AlfredoSequeida commented on #32
@Theelgirl After testing the latest git version it looks like decode is not outputting a file for me unless I specify the -o option on Linux. Does the same happen for you?

[2021-01-16 03:49] Theelgirl commented on #32
It works fine for me on Ubuntu 20.04. Do you have the ffmpeg package installed?

[2021-01-16 03:53] Theelgirl commented on #32
Ohhhhh I misread your question, you're using decode. I'll try that now.

[2021-01-16 07:03] AlfredoSequeida commented on #32
@Theelgirl What! That's really cool, I'm guessing that is encoded into the file itself. I will definitely have to look into the code to check that out. Thank you for your work on that @dobrosketchkun.

[2021-01-16 07:09] AlfredoSequeida commented on #32
@Theelgirl I notice that the latest version is 1.0.1 is that the correct one that you want me to publish to PyPi?

[2021-01-16 15:34] Theelgirl commented on #32
@AlfredoSequeida Yes!

[2021-01-17 02:56] Theelgirl commented on #32
@AlfredoSequeida Can you actually publish it as 1.0.0? I realized that SemVer doesn't allow for skipping publishing of major versions like 1.0.0, so I changed the changelog to reflect that the most recent version is 1.0.0

[2021-01-17 02:57] Theelgirl commented on #22
@dobrosketchkun Do you have time to make this into a PR soon?

[2021-01-17 04:54] AlfredoSequeida commented on #32
Got it, I'll get that done by the end of today.

[2021-01-17 05:08] Theelgirl commented on #32
Sounds good, thanks!

[2021-01-17 08:20] AlfredoSequeida commented on #32
@Theelgirl version 1.0.0 has been published! Thank you for your work you seem to be doing a great job maintaining the repo. If you need me for anything else feel free to ping me.

[2021-01-17 08:20] #32 closed

[2021-02-16 19:36] duanemoody opened #33 "gzip CRC check fails"
fvid installed through pip3 to bring along dependencies.

Test file: 9.1Mb Photoshop document. Successfully encoded with fvid, uploaded to YouTube, downloaded with ytdl, then run through fvid's decoder. After seeing `Bits are in place`, fvid unpacks the frames 100%, but:
[code]

I notice that regardless of the command syntax, fvid run multiple times on the same input file generates MP4s of consist

[2021-02-17 17:20] Theelgirl commented on #33
That's very interesting. I've never seen that before, I'll start googling for an answer now.

[2021-02-17 17:27] Theelgirl commented on #33
@dobrosketchkun As the person who implemented gzip support, do you think that the gzip could become problematic when run through youtube's compression and then redownloaded?

[2021-02-18 02:48] smileyhogue commented on #33
Looks like I have the same issue when uploading, then downloading from youtube as well. Works just fine if I do not upload to youtube

[2021-02-18 03:37] Theelgirl commented on #33
@smileyhogue Can you send the affected file(s) here so I can test?

[2021-02-18 21:16] Theelgirl opened #35 "Close vunerabilities with pickle"
@dobrosketchkun If you have time, do you have any ideas for how to fix the issues shown in #34? I'm not that good with pickle or such.

[2021-02-18 21:30] AlfredoSequeida commented on #35
I'm open to hearing suggestions about this as well. It's my understanding that the vulnerability lies with untrusted data as stated in the pickle documentation:

[code]

But I also understand the argument that It's really something for the user to be aware of (don't download random files off the internet) rather than something for us to handle. But if there is something we can do about it while st

[2021-02-19 16:30] dobrosketchkun commented on #35
Oy-vey, what an unfortunate turn of events.  I'll look into this problem on weekend and into the second one too, with the zip issue.

[2021-02-19 20:57] AlfredoSequeida opened #36 "Here are some ideas"
Hi everyone, I've been busy, which is why I haven't been able to check-in as often. So first of all I want to thank everyone for their contributions and a special thanks to @Theelgirl and @dobrosketchkun since I know you two have been putting in a lot of work into the program. Your work does not go unnoticed.

I have some ideas I want to share and get some feedback.

1. Increasing storage capacity

[2021-02-19 21:32] Theelgirl commented on #36
1. I think that's a great idea! However, I think we'll need to restrict it to a pure black, pure while, pure red, pure green, and pure blue to best avoid compression. I'm not experienced with alpha channels, or images in general, but I don't think alpha channels are what we want here.
2. That could work, I'm not the best in that area but I'm sure it's possible.
3. I'd personally like to build on t

[2021-02-19 21:43] dobrosketchkun commented on #36
1. Nice idea, I thought about it, but digress to another idea and forget about it, lol
2. Well, you can always use Reed–Solomon, but it will blow a volume of the data
3. My GUI is a hacky, partially working lazy few lines of code, plz make something better
4. I double @Theelgirl I usually post my "code" under public domain

[2021-02-19 21:50] Theelgirl commented on #36
Dobro, for 2, error correction, have you heard of LDPC error correction? I was just googling it and came across this: https://pypi.org/project/pyldpc/

[2021-02-19 21:53] dobrosketchkun commented on #36
Nope, I haven't; it seems nice.

[2021-02-19 22:08] AlfredoSequeida commented on #36
Awesome!

@Theelgirl This sounds like a  great opportunity to get some experience with GUI's so ill leave that to you. Take your time of course. I'll also take a look at LDPC, I haven't heard of that before.

@dobrosketchkun and I have heard about Reed–Solomon, but haven't implemented it before, I will also take a look at that.

As for the License, since both of you don't really mind the licensing

[2021-02-20 08:40] AlfredoSequeida commented on #35
Here is a suggestion for how to replace pickle. We can keep a similar logic using JSON instead. Something like this:

[code]

And similar logic for decoding.

I haven't tested it yet, but doing it this way allows us to make small modifications and keep most of the existing logic in place.

@dobrosketchkun What do you think?

[2021-02-20 09:51] dobrosketchkun commented on #35
It looks like a nice idea!

[2021-02-20 16:07] Theelgirl commented on #35
@AlfredoSequeida Are you sure that the bytes object won't be compressed by YouTube?

[2021-02-20 17:24] dobrosketchkun commented on #35
Well, since pickle object is also just bytes and it works, so, I don't think it'll be an issue.

[2021-02-20 17:24] AlfredoSequeida commented on #35
@Theelgirl I think the result should be the same since the `pickle.dumps()` function also returns a bytes object and that seemed to be working. But I guess I'll know once it's been implemented. If I have time later today I'll try it.

[2021-02-20 19:37] Theelgirl commented on #33
Ok, well I just swallowed my pride and uploaded a test file to youtube. When I downloaded with youtube-dl with the ``-k`` option on youtube-dl (to keep the original video and the audio files separate), I found that the main .mp4 that had the .m4a audio in it had this CRC error, however decoding just the video worked fine. Test files attached for you guys to try.

Working one:

https://user-images.

[2021-02-20 19:42] AlfredoSequeida commented on #35
I just finished replacing the logic for pickle using json. I will be pushing that soon. As a plus side, I had an mp3 file that was not working when we were using pickle and for some reason using the json implementation fixed that. I wonder if pickle was changing the data somehow.

[2021-02-20 19:55] AlfredoSequeida commented on #35
closed with 363a9c1

[2021-02-20 19:55] #35 closed

[2021-02-21 12:09] AlfredoSequeida commented on #36
I spent some time today implementing Reed-Solomon error correction and I got that working with some quick tests, however, it really slows down the process.

There are few more things I need to look at before pushing a commit. I have noticed that PIL has trouble when too many images are open during the decoding process I received a  "too many images are open" error . And I also want to see if I can

[2021-02-21 16:11] Theelgirl commented on #36
I'm still thinking that ldpc error correction will be better as it's much faster, but we'll see. At the moment, I'm setting up some documentation, will push when done.

[2021-02-21 19:29] Theelgirl commented on #36
@AlfredoSequeida Can I get integrations perms for this github so I can set up the readthedocs thing? I pushed the docs here already, but apparently they need a working integration to publish them :(

[2021-02-22 00:07] AlfredoSequeida commented on #36
@Theelgirl I don't see an option on the repo to give you integrations permissions, so I was trying to see if I can set that up from my end, but looking at https://docs.readthedocs.io/en/stable/webhooks.html#github I don't see the Payload URL.

[2021-02-22 00:09] Theelgirl commented on #36
@AlfredoSequeida I'll email it to you.

[2021-02-22 00:13] Theelgirl commented on #36
Also I just added what I believe is your readthedocs account to the project. Is your account name AlfredoSequeida on readthedocs.io?

[2021-02-22 00:14] AlfredoSequeida commented on #36
Yes, that's me, I added the webhook.

[2021-02-22 00:57] Theelgirl commented on #36
Ok cool. Can you push your current version of the reed-solomon error correction to a new branch so I can check it out and possibly speed it up?

[2021-02-22 00:58] AlfredoSequeida commented on #36
Yes, I'll do that.

[2021-02-22 01:10] AlfredoSequeida commented on #36
Here is the current Reed-Solomon implementation: c0f3ecd

[2021-02-22 01:10] Theelgirl commented on #36
Cool thanks!

[2021-02-22 04:05] AlfredoSequeida commented on #36
Quick GUI mockup idea
![fvid_gui_mockup](https://user-images.githubusercontent.com/18052272/108661184-10b70d80-7480-11eb-9af0-6928a5763d13.png)

[2021-02-22 04:47] AlfredoSequeida commented on #36
And going off @dobrosketchkun idea, there could also be an option to use a URL to decode

![fvid_gui_mockup_enter_a_url](https://user-images.githubusercontent.com/18052272/108663680-f08a4d00-7485-11eb-8863-da1c582851aa.png)

[2021-02-22 09:00] dobrosketchkun commented on #36
This is a very nice GUI, miles better than mine.

[2021-02-22 18:22] Theelgirl commented on #36
@AlfredoSequeida @dobrosketchkun I did a good. This zfec error correction takes about 6-7 seconds to encode my 580KB test image versus over a minute with Reed-Solo, bloats it to 103MB mp4 instead of >200MB, and takes about 2s to decode it.

Branch:
https://github.com/AlfredoSequeida/fvid/tree/zfec-error-correction
Zfec repo:
https://github.com/tahoe-lafs/zfec

[2021-02-22 18:33] dobrosketchkun commented on #36
Splendid!

[2021-02-22 19:13] AlfredoSequeida commented on #36
@Theelgirl That's awesome! When I get some time I'll try the file I was testing with it.

[2021-02-22 19:22] Theelgirl commented on #36
Sounds good! I haven't tested it on any error-ridden files yet, only normal files, so hopefully it works.

[2021-02-22 21:06] Theelgirl commented on #31
I assume it's fixed because neither I nor Alfredo seem to be having trouble with it.

[2021-02-22 21:06] #31 closed

[2021-02-23 02:12] Theelgirl commented on #36
@AlfredoSequeida Have you had time to test it yet? I'm going to bed really soon unless I need to fix something.

[2021-02-23 02:20] AlfredoSequeida commented on #36
@Theelgirl I haven't yet, but I will try to test it by the end of today. Get your rest lol.

[2021-02-23 02:43] AlfredoSequeida commented on #36
@Theelgirl So, I checked out the zfec-error-correction branch, but, I don't see any zfec logic. The only change I see is the requirements.txt file. Did you push your changes?

[2021-02-23 02:44] Theelgirl commented on #36
Oops. I probably forgot to commit, pushing now.

[2021-02-23 03:40] Theelgirl commented on #36
@AlfredoSequeida Yoink I did a dumb and forgot to import random to deal with errors, git pull the most recent changes and re-test.

[2021-02-23 09:17] AlfredoSequeida commented on #36
@Theelgirl Ok, So I tested your implementation and it's definitely faster, but I was not able to decode a video downloaded from youtube. With that said, I don't think it's your implementation because I also can't decode it without the zfec error correction

I keep getting this:
[code]

Here are the files for reference:
[non zfec](https://youtu.be/WDGXtR5xLHk)
[zfect](https://youtu.be/hqjRj1ifPTM)

[2021-02-23 09:27] AlfredoSequeida opened #38 "No such file or directory: '_temp.mp4'"
Here is an issue I came across while testing today. If the input file name to decode has a space like this for example: `file 1.mp4`, I get this error:

[code]

It looks like the error is happening because the file `file 1.mp4` is being read in as `file_1.mp4` and therefore fvid can't find the input file.

[2021-02-23 10:03] dobrosketchkun commented on #36
Sorry for not being useful recently; I'm kind of busy.

I can't write it in nice code right now, but hear me out; in the first version, we had a delimiter to determine where is the end of the file, in current, we have zip machinery to help us out. The original problem is that no one can tell if this string of black pixels at the end of the last frame is part of the file or not.

But if we can revi

[2021-02-23 14:25] Theelgirl commented on #36
@AlfredoSequeida Actually, with a block size of 8, Zfec is applied every 8 bytes. Zfec simply expands the data by 25% using the formula bloat% = MVAL/KVAL. In this case, with KVAL of 4 and MVAL of 5, that means that for every 5 blocks of data, we need 4 to reconstruct the original. Since it bloated the block to 10 symbols, it's easily divisible by 5.

[2021-02-23 23:19] Theelgirl opened #39 "Switch to H.265 codec"
https://github.com/AlfredoSequeida/fvid/blob/c20c6877d59da1075de473ab0fc17882132b2786/fvid/fvid.py#L317
So in this line, we tell it to use a H.264 codec, but H.265 is supported by Youtube and basically any other video file sharing/storing service. H.265 allows the resulting file to be much smaller in size, however it won't be able to decode any previously-encoded H.264 files. I propose we either:

[2021-02-23 23:20] Theelgirl commented on #39
References:
https://www.videoconverterfactory.com/tips/h265vsh264.html
https://trac.ffmpeg.org/wiki/Encode/H.265
https://support.google.com/youtube/troubleshooter/2888402

[2021-02-23 23:29] Theelgirl commented on #39
Update: Just encoded one of my test images, 580KB, with libx265 and the resulting file.mp4 about 31MB, compared to 123MB with libx264rgb.

[2021-02-24 17:40] AlfredoSequeida commented on #39
Oh wow, this is cool! I'm not very experienced with video codecs, so I didn't even know there was a better option. I think this is a good idea. What happens if the program was to "try h265 first and default back to libx264rbg"? Does FFmpeg fail and quit by default?

[2021-02-24 18:02] Theelgirl commented on #39
So yeah, ffmpeg would fail when it tries to decode a file with the wrong mime type. I'm not totally sure how to catch that fail, but I'm confident it could be done.

[2021-02-24 18:24] AlfredoSequeida commented on #39
Yesterday I was working on a project using a program called mediainfo to view file metadata on Linux. Looking up their project, it looks like it also supports mac and windows and we could use it to view video data like a codec and therefore make fvid support virtually any codec by reading that info prior to decoding. I'm willing to bet that ffprobe can do the same thing.

[2021-02-25 14:00] Theelgirl commented on #39
@AlfredoSequeida That's a possibility. I think it'd be better to just add an option for a user to be able to specify the codec they want that ffmpeg supports though.

[2021-02-25 14:29] Theelgirl commented on #39
Do you mind if I merge zfec error correction and a flag for using H265 into master? (I did the H265 flag yesterday)

[2021-02-25 18:35] AlfredoSequeida commented on #39
@Theelgirl I'm definitely ok with the H265 flag and I think that zfec should be good too (good job on that by the way). My only concern about zfec is that with the current zip issue, which I haven't had time to look at, I haven't seen a successful decode form a compressed vid (like from YouTube). So we just have to remember to fix that before pushing out the next version to PyPI.

[2021-02-25 18:49] Theelgirl commented on #39
Sounds good.

[2021-02-26 15:51] #38 closed

[2021-03-07 13:34] QWERTIOX opened #40 "How to download"
Can someone help me with download? Where i need put FFmpeg folder and where i can download libmagic. Where are i need put my file to encode, and where i can find output?

[2021-03-07 14:05] QWERTIOX commented on #22
can you upload easy to open for no programmer application file?

[2021-03-07 18:07] AlfredoSequeida commented on #40
FFMPEG can be installed system wide. Just like you would install any other program on your computer. Try to run it without libmagic, I believe that with the most recent update that might no longer be needed. Look at the instructions for encoding / decoding. But the general rule is that if you don't specify an output path, the encoded filed will be in the same directory you ran the program from in

[2021-03-07 18:10] AlfredoSequeida commented on #22
That might be made easier to accomplish once we implement a GUI for the program. I have honestly been pretty busy lately, but I would recommend you keep a lookout on the repo to see if we implement that.

[2021-03-09 18:50] AlfredoSequeida commented on #22
That's ok with me.

[2021-03-09 18:57] dobrosketchkun commented on #22
Sounds nice

[2021-03-13 00:53] #40 closed

[2021-03-30 13:39] minhngoc25a opened #41 "No module named 'magic'"
I've just started to use fvid again, but:
[code]

I don't know what happened. I tried to install 'magic':
[code]

And upgrade fvid to the latest master branch:
[code]
But it still doesn't work...
Any help appreciated. Thanks!

[2021-03-30 16:12] minhngoc25a commented on #41
Updating fvid from source takes longer time than updating youtube-dl from source. You should clean out that test folder.

Anyway, installing python-magic and zfec requires Microsoft Visual C++ 14.0, fvid should've included those out-of-the-box.

[2021-03-30 18:06] Theelgirl commented on #41
Are you sure you installed MIcrosoft Visual C++ 14.0, because I installed it on my backup windows computer with Microsoft Visual C++ 14 and it worked fine. Also, how would fvid include those out-of-the-box? That's an appealing option, but I don't know how to do that.

[2021-03-30 18:31] minhngoc25a commented on #41
I got it going. I downloaded a precompiled zfec and installed it. Apparently, on Windows, you have to install python-magic-bin to fetch libmagic's DLL.

[2021-05-17 20:13] #41 closed

[2021-05-22 15:27] #39 closed

[2021-08-03 21:36] PavKmiec commented on #33
`OSError: CRC check failed 0xeb8845b4 != 0xf1812ef7`

I just had the same error, even on a video downloaded with the `-k` switch without the audio.
The video is quite large tho: https://youtu.be/a0qWc_X3sN8

I tested the fvid earlier on a different smaller file and it worked ok.

[2021-08-03 23:42] pablo-01 commented on #33
I can confirm similar issue, even with downloading video/audio separately using the `-k` switch.
`OSError: CRC check failed 0x3af5c3bd != 0x4c4d5ef`

Only happens when using the file downloaded from YouTube.

Link to video:
https://youtu.be/YV9dPIdqXC0

Edit:

Link to file before uploading to YouTube:
https://github.com/PavKmiec/Helpers/raw/main/Files/Neuromancer.mp4

[2022-09-15 01:38] Akul2010 commented on #36
Can I help? I'm good at building GUIs in tkinter, PysimpleGui, and PyQT5. (Ok at kivy and kivymd as well.)
Sorry for the typos

[2022-09-16 16:06] Theelx commented on #36
Thanks for the offer, however this project has been unofficially superseded by https://github.com/MeViMo/youbit. That repo is better in essentially every way.

[2022-09-17 16:03] AlfredoSequeida commented on #36
Hey @Akul2010 ! Thank you for offering to help! Although that would be awesome, I honestly haven't had time to work on the project recently. I think @Theelx 's idea of contributing to a more active project would be best.